<p-sidebar [(visible)]="visible" position="right" [transitionOptions]="'.3s cubic-bezier(0, 0, 0.2, 1)'" styleClass="w-full sm:w-18rem">
  <div class="grid">
    <div class="col-12 flex justify-content-between align-items-center">
      <p-avatar styleClass="cursor-pointer" size="normal" shape="circle"
        [appAtalhoEvento]="'Tab'" [shift]="true" [style]="{'background-color':'#EFF3F8', 'color': '#05FF00'}"><span class="material-symbols-outlined" (click)="perfil()"> person</span></p-avatar>
      <p class="font-semibold font-lg cursor-pointer" (click)="perfil()">{{ funcionario }}</p>
      <span class="material-symbols-outlined cursor-pointer" (click)="toggleMenuConfiguracoes()">
        manufacturing
      </span>
    </div>
    <p-divider></p-divider>
    <h1 class="font-semibold font-lg"> Histórico de aposta:</h1>
    <section id="historico-aposta" class="w-full" style="overflow-y: auto; height: 60vh;">
      @for(aposta of historico; track aposta){
        <p-card>
          <div class="flex align-items-center justify-content-between">
            <div class="background-status">
              <p class="text-sm font-bold">Aguardando</p>
            </div>
            <p class="text-sm">R$ {{aposta.valor}}</p>
          </div>
          <div class="flex align-items-start justify-content-between">
            <div class="flex-column justify-content-center align-items-start">
              <p class="text-xxs">{{aposta.campeonato__nome}}</p>
              <p class="text-xs text-primary">{{aposta.time_1__nome}} x {{aposta.time_2__nome}}</p>
            </div>
            <div class="flex-column justify-content-center align-items-start">
              <p class="text-sm">{{aposta.odd}}x</p>
            </div>
          </div>
          <div class="flex align-items-center justify-content-between mt-2">
              <p class="text-xs">Aposta:</p>
              <p class="text-xs">R$ {{aposta.valor}}</p>
          </div>
          <div class="flex align-items-center justify-content-between">
            <p class="text-xs">Ganhos:</p>
            <p class="text-xs">R$ {{aposta.valor * aposta.odd}}</p>
          </div>
      </p-card>
      }
    </section>
    <div class="col-12 flex" style="position: fixed; bottom: 5px;">
      <a class="cursor-pointer flex align-items-center text-red-600 font-semibold text-sm" (click)="logout()"><i class="material-symbols-outlined mr-2">logout</i>Sair</a>
    </div>
  </div>
</p-sidebar>
