<p-sidebar [(visible)]="visible" position="right" [transitionOptions]="'.3s cubic-bezier(0, 0, 0.2, 1)'" styleClass="w-full sm:w-18rem">
  <div class="grid">
    <div class="col-12 flex justify-content-between align-items-center">
      <p-avatar styleClass="cursor-pointer" size="normal" shape="circle"
        [appAtalhoEvento]="'Tab'" [shift]="true" [style]="{'background-color':'#EFF3F8', 'color': '#05FF00'}"><span class="material-symbols-outlined" (click)="perfil()"> person</span></p-avatar>
      <p class="font-semibold font-lg cursor-pointer" (click)="perfil()">{{ funcionario }}</p>
      <span class="material-symbols-outlined cursor-pointer" (click)="toggleMenuConfiguracoes()">
        manufacturing
      </span>
    </div>
    <p-divider></p-divider>
    <div class="col-12 flex">
      <a class="cursor-pointer flex align-items-center text-red-600 font-semibold text-sm" (click)="logout()"><i class="material-symbols-outlined mr-2">logout</i>Sair</a>
    </div>
  </div>
</p-sidebar>
