@if ((!modoExclusao && produtos?.length) || modoExclusao) {
  <div class="container-cesta border-round-lg h-100 pt-3 position-relative">
    <app-cesta-header class="grid w-100 px-2" [produtos]="produtos"></app-cesta-header>
    <app-cesta-body class="grid w-100 h-100 px-2" [produtos]="produtos"
    [ngClass]="{'max-height-extra': valorRestante > 0}"></app-cesta-body>
    <app-cesta-footer class="grid m-0 p-0 w-100 cesta-footer-fixed px-2" [produtos]="produtos" [passo]="passo"></app-cesta-footer>
  </div>
} @else {
  <div class="container-cesta border-round-lg">
    <div class="grid flex flex-column justify-content-center align-items-center h-100 pt-4">
      <span class="text-2xl font-semibold text-center">
        Escaneie um produto
      </span>
      <span class="material-symbols-outlined text-8xl mt-3">
        barcode_scanner
      </span>
    </div>
  </div>
}
