.container-cesta {
  height: calc(100vh - 65px - 45px);
  overflow-y: hidden;
  overflow-x: hidden;
  background: #fff;
}

app-cesta-body {
  max-height: calc(100% - 25px - 35px - 105px);
  overflow-y: auto;
}

app-cesta-body.max-height-extra{
  max-height: calc(100% - 25px - 35px - 135px);
}

app-cesta-footer {
  position: absolute;
  bottom: 0;
  z-index: 2;
  background-color: #fff;
}
