@if (produto) {
  <div class="grid flex flex-row justify-content-center mt-1">
    <div class="col-12 mb-0 pb-0">
      <p class="text-lg font-bold text-center text-limit-2 text-center">{{ produto?.nm_produto }}</p>
      <div class="flex justify-content-center mt-1">
        <p class="text-sm font-light text-500">{{ produto?.nm_marca }}</p>
        <p class="text-sm font-light px-3 text-500">EAN: {{ produto?.ean }}</p>
        <p class="text-sm font-light text-500">Código: {{ produto?.produto_id }}</p>
      </div>
    </div>

    <div class="col-12 md:col-4 flex justify-content-center align-items-center">
      <img [src]="produto?.imagem" alt="Produto" width="75" height="75">
    </div>
    <div class="col-12 md:col-8 flex align-items-center">
      @if (produto?.preco) {
        <div class="mt-3">
          <app-preco [preco]="produto?.preco" orientacao="vertical" tamanho="lg"></app-preco>
        </div>
      }
    </div>
    @if(tipo === 'pre-venda') {
      <div class="col-12">
        <div class="text-justify" [innerHTML]="sanitizeString(produto?.descricao)"></div>
      </div>
    }
  </div>
}
