@if (produtos?.length) {
  <p-carousel [value]="produtos" [numVisible]="isMobile ? qtd_mobile : qtd_desktop" [numScroll]="1" [circular]="true" [showNavigators]="showNavigators ?? false" [showIndicators]="showIndicators ?? false" [autoplayInterval]="5000">
    <ng-template let-produto pTemplate="item">
      <div class="border-round-lg flex flex-column">
        <div class="flex flex-column align-items-center w-100">
          <img [src]="produto?.imagem" alt="Produto" [width]="imgWidth ?? 75" [height]="imgHeight ?? 75" class="border-round-lg px-2">
        </div>
        <app-preco [preco]="produto?.preco" orientacao="vertical" [tamanho]="precoTamanho ?? 'sm'" [removerVlrIni]="removerVlrIni ?? false"
          [precoAltura]="precoAltura ?? 60"/>
        <p class="text-limit-2">{{ produto?.nm_produto }}</p>
      </div>
    </ng-template>
  </p-carousel>
}
