<div class="grid flex justify-content-center align-items-center w-100 m-0 p-0">
  <div class="col-12 h-100">
    <p-card class="border-round-lg" [style]="{height: 'calc(100vh - 40px - 35px - 7px)', overflowY: 'auto'}">
      <form [(formGroup)]="formCliente" class="p-3">

        <div class="grid justify-content-center">
          <div class="col-12 md:col-8 flex flex-column">
            <div class="grid m-0 p-0">

              @if(!clienteAnonimizadoComCpfNota){
                @if(mascaraTipo === 'cnpj'){
                  <div class="col-12">
                    <app-form label="Cliente possui cadastro no Club Nissei? (Ctrl + 1)" type="text-group" id="cnpj" [appElementoFoco]="'cnpj'" [atalho]="1" [ctrl]="true"
                      formControlName="cnpj" ngDefaultControl (keydown)="alternarTipoDeMascaraCliente($event)" (blur)="validarDocumento()"
                      mask="cnpj" textoAgrupamento="CPF/CNPJ" [autoClear]="false"/>
                  </div>
                } @else {
                  <div class="col-12">
                    <app-form label="Cliente possui cadastro no Club Nissei? (Ctrl + 1)" type="text-group" id="cpf" [appElementoFoco]="'cpf'" [atalho]="1" [ctrl]="true"
                      formControlName="cpf" ngDefaultControl (keydown)="alternarTipoDeMascaraCliente($event)" (blur)="validarDocumento()"
                      mask="cpf" textoAgrupamento="CPF/CNPJ" [autoClear]="false"/>
                  </div>
                }
              }

              @if (clienteInformado) {
                @if(!clientePossuiRegistro){
                  <div class="col-12 mb-0 pb-0">
                    <p class="font-sm font-semibold text-red-500">O cliente não possui cadastro no Club Nissei. Informe os dados abaixo para prosseguir.</p>
                  </div>
                  <div class="col-12">
                    <app-form label="Nome" type="text"
                      formControlName="nome" ngDefaultControl />
                  </div>
                  @if(tipo === 'pre-venda'){
                    <div class="col-6">
                      <app-form label="Data de nascimento" type="date-manual"
                        formControlName="data_nascimento" ngDefaultControl />
                    </div>
                  }
                  <div [ngClass]="{'col-12': tipo != 'pre-venda', 'col-6': tipo === 'pre-venda'}">
                    <app-form label="Celular" type="celular"
                      formControlName="celular" ngDefaultControl/>
                  </div>
                }
                @if(!clientePossuiRegistro || (clientePossuiRegistro && !clientePossuiOptinCpfNota)){
                  <div class="col-12">
                    <app-form label="Cliente gostaria de reutilizar CPF na nota em suas compras" type="checkbox"
                      formControlName="optin_cpf_nota" (change)="optionCpfNotaAlterado($event)" ngDefaultControl/>
                  </div>
                }
              }

              @if (tipo != 'pre-venda' && alterarCpfNota) {
                <div class="col-12">
                  <app-form label="CPF informado na nota (Ctrl + 2)" type="text-group"
                    formControlName="cpf_nota" ngDefaultControl
                    mask="cpf" textoAgrupamento="CPF"
                    id="cpf_nota" [appElementoFoco]="'cpf_nota'" [atalho]="2" [ctrl]="true" />
                </div>
              }

              <div class="col-12">
                <p-button label="Confirmar (Enter)"
                  appAtalhoEvento="Enter" (evento)="submitFormulario()" (click)="submitFormulario()" />
              </div>
              <div class="col-12">
                <p-button label="Cliente não gostaria de se identificar (Ctrl + Enter)" severity="secondary" [text]="true"
                  appAtalhoEvento="Enter" [ctrl]="true" (evento)="clienteAnonimo()" (click)="clienteAnonimo()" />
              </div>
              @if (tipo != 'pre-venda' && !clienteInformado) {
                @if(!clienteAnonimizadoComCpfNota){
                  <div class="col-12">
                    <p-button label="Cliente anônimo com CPF na nota (Ctrl + Q)" severity="secondary" [outlined]="true"
                      appAtalhoEvento="q" [ctrl]="true" (evento)="clienteAnonimoComCpfNota()" (click)="clienteAnonimoComCpfNota()" />
                  </div>
                } @else {
                  <div class="col-12">
                    <p-button label="Cliente gostaria de se identificar (Ctrl + Q)" severity="secondary" [outlined]="true"
                      appAtalhoEvento="q" [ctrl]="true" (evento)="reativarProcessoCadastro()" (click)="reativarProcessoCadastro()" />
                  </div>
                }
              }

              @if(tipo != 'pre-venda' && clienteInformado){
                <div class="col-12">
                  <p-button [label]="!alterarCpfNota ? 'Alterar CPF informado na nota (Ctrl + 3)' : 'Reutilizar CPF informado no Club (Ctrl + 3)'" severity="danger" [text]="true"
                    appAtalhoEvento="3" [ctrl]="true" (evento)="notaCpfAlterado()" (click)="notaCpfAlterado()" />
                </div>
              }

              @if(tipo != 'pre-venda' && clienteInformado && possuiPreVendasDisponiveis()){
                <div class="col-12">
                  <p-button [label]="'Visualizar ' + preVendas?.pre_vendas?.length + (preVendas?.pre_vendas?.length === 1 ? ' pré-venda disponível ' : ' pré-vendas disponíveis ') + '(Ctrl + 4)'" severity="danger"
                    appAtalhoEvento="4" [ctrl]="true" (evento)="visualizarPreVendas()" (click)="visualizarPreVendas()" />
                </div>
              }
            </div>
          </div>
        </div>

        @if (componentes?.length){
          <div class="grid mt-5">
            @for (componente of componentes; track componente) {
              @if (!componente?.configuracao?.tipo || componente?.configuracao?.tipo === tipo){
                <div class="{{componente?.grid}}">
                  <label class="font-lg mb-4">{{ componente?.label }}</label>
                  @if (componente?.tipo === 'carrossel-produtos'){
                    <app-carrossel-produtos [produtos]="componente?.configuracao?.produtos"
                      [qtd_mobile]="componente?.configuracao?.qtd_mobile" [qtd_desktop]="componente?.configuracao?.qtd_desktop"
                      [border]="componente?.configuracao?.border"
                      [imgHeight]="125" [imgWidth]="125" />
                  } @else if(componente?.tipo === 'imagem'){
                    <app-imagem-campanha [urlDesktop]="componente?.configuracao?.url_desktop" [urlMobile]="componente?.configuracao?.url_mobile" />
                  }
                </div>
              }
            }
          </div>
        }

      </form>
    </p-card>
  </div>
</div>
