<div class="grid flex">
    @for(card of infosCards; track card.id) {
        <div class="col-12 md:col-3">
            <p-card>
                <div class="grid d-flex flex-row align-items-center justify-content-center">
                    <div class="col-2 text-center">
                        <span class="material-symbols-outlined text-5xl text-primary mt-1">{{card.icon}}</span>
                    </div>
                    <div class="col">
                        <p class="text-color-secondary font-semibold text-sm uppercase">{{card.title}}</p>
                        <p class="text-left text-2xl">{{card.value}}<p>
                    </div>
                    @if(card.hasButton){
                    <div class="col-2">
                        <p-button (click)="redirectTo(card.buttonUrl)" styleClass="botaoCard">
                            <span class="material-symbols-outlined text-center">
                                {{card.iconButton}}
                            </span>
                        </p-button>
                    </div>
                    }
                </div>
            </p-card>
        </div>
    }
</div>
