<div class="surface-ground px-4 py-4 md:px-6 lg:px-8">
    <div class="text-900 font-bold text-6xl mb-4 text-center">Nossos planos</div>
    <div class="text-700 text-xl mb-6 text-center line-height-3">De acordo com o seu plano maior são os seus benefícios, selecione o seu:</div>

    <div class="grid">
        <div class="col-12 lg:col-4">
            <div class="p-3 h-full">
                <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
                    <div class="text-900 font-medium text-xl mb-2">Gratuito</div>
                    <div class="text-600">Acesso a funcionalidades básicas!</div>
                    <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                    <div class="flex align-items-center">
                        <span class="font-bold text-2xl text-900">R$0</span>
                        <span class="ml-2 font-medium text-600">por mês</span>
                    </div>
                    <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                    <ul class="list-none p-0 m-0 flex-grow-1">
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-primary mr-2"></i>
                            <span class="text-900">Acesso a plataforma</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-primary mr-2"></i>
                            <span class="text-900">Acesso a simulação de apostas</span>
                        </li>
                    </ul>
                    <hr class="mb-3 mx-0 border-top-1 border-none surface-border mt-auto" />
                    <button pButton pRipple label="Selecionar!" class="p-3 w-full mt-auto" (click)="selecionarPlano('gratuito')"></button>
                </div>
            </div>
        </div>

        <div class="col-12 lg:col-4">
            <div class="p-3 h-full">
                <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
                    <div class="text-900 font-medium text-xl mb-2">Premium</div>
                    <div class="text-600">Acesso a funcionalidades exclusivas!</div>
                    <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                    <div class="flex align-items-center">
                        <span class="font-bold text-2xl text-900">R$15</span>
                        <span class="ml-2 font-medium text-600">por mês</span>
                    </div>
                    <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                    <ul class="list-none p-0 m-0 flex-grow-1">
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-primary mr-2"></i>
                            <span class="text-900">Acesso a plataforma</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-primary mr-2"></i>
                            <span class="text-900">Acesso a simulação de apostas</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-primary mr-2"></i>
                            <span class="text-900">Acesso a dashboards comparativos</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-primary mr-2"></i>
                            <span class="text-900">Exportar relatórios em XLSX</span>
                        </li>
                    </ul>
                    <hr class="mb-3 mx-0 border-top-1 border-none surface-border" />
                    <button pButton pRipple label="Selecionar!" class="p-3 w-full mt-auto" (click)="selecionarPlano('premium')"></button>
                </div>
            </div>
        </div>

        <div class="col-12 lg:col-4">
            <div class="p-3 h-full">
                <div class="shadow-2 p-3 flex flex-column surface-card" style="border-radius: 6px">
                    <div class="text-900 font-medium text-xl mb-2">VIP</div>
                    <div class="text-600">Acesso a todas as funcionalidades da plataforma! </div>
                    <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                    <div class="flex align-items-center">
                        <span class="font-bold text-2xl text-900">$30</span>
                        <span class="ml-2 font-medium text-600">por mês</span>
                    </div>
                    <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                    <ul class="list-none p-0 m-0 flex-grow-1">
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-primary mr-2"></i>
                            <span class="text-900">Acesso a plataforma</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-primary mr-2"></i>
                            <span class="text-900">Acesso a simulação de apostas</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-primary mr-2"></i>
                            <span class="text-900">Acesso a dashboards comparativos</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-primary mr-2"></i>
                            <span class="text-900">Exportar relatórios em XLSX</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-primary mr-2"></i>
                            <span class="text-900">Recomendações exclusivas de eventos</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-primary mr-2"></i>
                            <span class="text-900">Recomendações baseadas em seu histórico</span>
                        </li>
                    </ul>
                    <hr class="mb-3 mx-0 border-top-1 border-none surface-border" />
                    <button pButton pRipple label="Selecionar!" class="p-3 w-full mt-auto" (click)="selecionarPlano('Vip')"></button>
                </div>
            </div>
        </div>
    </div>
</div>