<div class="grid flex justify-content-center align-items-center w-100 m-0 p-0">
  <div class="col-12 md:col-6 h-100">
    <p-card class="border-round-lg" [style]="{height: 'calc(100vh - 40px - 35px - 7px)', overflowY: 'auto'}">
      <form [(formGroup)]="formPesquisa" class="flex flex-column justify-content-between h-100"
        [style]="{height: 'calc(100vh - 40px - 35px - 80px)', overflowY: 'auto', overflowX: 'hidden'}">
        <div class="grid m-0 p-0 w-100">
          <div [ngClass]="{'col-12': tipo === 'caixa', 'col-9': tipo === 'pre-venda'}">
            <app-form label="Digite o EAN, código ou nome do produto (Ctrl + 1)" type="text-icon" icon="pi-search" [autoClear]="false"
              id="ean" [appElementoFoco]="'ean'" [atalho]="1" [ctrl]="true"
              formControlName="ean" ngDefaultControl (blur)="pesquisarProduto()" />
          </div>
          @if(tipo === 'pre-venda'){
            <div class="col-3 flex align-items-end">
              <p-button label="Falteiro" severity="primary" class="w-100"
               (click)="true" />
            </div>
          }
          @if(produtosPesquisados?.length){
            <div class="col-12">
              <app-pesquisa-produto [produtos]="produtosPesquisados" grid="col-6 md:col-6"
                [alt]="true" tamanho="sm" [imgWidth]="30" [imgHeight]="30"
                (selected)="adicionarProdutoCesta($event)" />
            </div>
          }
          @if (produtos?.length) {
            <app-produto-descricao [produto]="ultimoProdutoBipado" />
          }
        </div>
        <div class="grid m-0 mb-3 mt-5 p-0">
          @if(loadingDadosProdutosSugeridos){
            @for(skeleton of [].constructor(6); track skeleton;){
              <div class="col-2">
                <p-skeleton height="5rem" />
              </div>
            }
          } @else {
            @for (componente of componentes; track componente) {
              <div class="{{componente?.grid}} mt-0 py-0 -mb-3">
                <label class="font-lg mb-2">{{ componente?.label }}</label>
                @if (componente?.tipo === 'carrossel-produtos'){
                  <app-carrossel-produtos [produtos]="componente?.configuracao?.produtos"
                    [qtd_mobile]="componente?.configuracao?.qtd_mobile" [qtd_desktop]="componente?.configuracao?.qtd_desktop"
                    [border]="componente?.configuracao?.border"
                    [imgHeight]="40" [imgWidth]="40" [removerVlrIni]="true" [precoTamanho]="'xs'" [precoAltura]="45" />
                }
              </div>
            }
          }
        </div>
      </form>
      @if(tipo === 'pre-venda'){
        <div class="grid flex justify-content-between m-0 p-0 pt-2 border-top-1 border-top-solid" style="border-color: #e2e8f0;">
          <div class="col-2 flex align-items-center justify-content-center">
            <p-button label="Voltar" severity="primary" class="w-100"
              (click)="true" />
          </div>
          <div class="col-9 flex flex-row align-items-center justify-content-center">
            <div class="col-4">
              <p-button label="Alto custo" severity="info"
                (click)="true" />
            </div>
            <div class="col-4">
              <p-button label="Manipulação" severity="success"
                (click)="true" />
            </div>
            <div class="col-4">
              <p-button label="Próximo" severity="primary"
                (click)="true" />
            </div>
          </div>
        </div>
      }
    </p-card>
  </div>
  <div class="col-12 md:col-6 h-100">
    <p-card class="border-round-lg" [style]="{height: 'calc(100vh - 40px - 35px - 7px)', overflowY: 'auto'}">
      <app-cesta [produtos]="!modoExclusao ? produtos : produtosExclusao" passo="produtos"></app-cesta>
    </p-card>
  </div>
</div>

<app-scanner [(model)]="scanner" (modelChange)="produtoBipado()"></app-scanner>
