<ng-template #loading>
  <app-loader class="flex justify-content-center w-100"></app-loader>
</ng-template>

<ng-template #infoAjuda>
  <div class="grid justify-content-between align-items-center m-0 p-0">
    <p class="p-card-subtitle font-bold">
      {{ title(homeId) }}
    </p>
    <div class="flex">
      <p-button *ngIf="abas?.length && !isMinimizado()" class="hidden lg:flex" icon="pi pi-angle-left"
        styleClass="p-button-outlined p-button-primary p-button-icon-only-xs" pTooltip="Minimizar ajuda"
        (click)="isMinimizado.set(!isMinimizado())">
      </p-button>
    </div>
  </div>
  <p class="p-card-subtitle flex align-items-center mt-2">Versão 1.0.0</p>
  <div class="block mt-3">
    <div *ngIf="abaAtiva['ajuda']" [innerHTML]="abaAtiva['ajuda'] | safe: 'html'"></div>
  </div>
</ng-template>

<ng-template #templateAjudaMobile>
  <p-scrollPanel [style]="{ width: '100%', height: '22.5vh' }" styleClass="border-1 border-round-md border-gray-300 py-1 px-2 mt-2">
    <ng-container *ngTemplateOutlet="infoAjuda"></ng-container>
  </p-scrollPanel>
</ng-template>

<ng-template #templateAjudaDesktop>
  <ng-container *ngTemplateOutlet="infoAjuda"></ng-container>
</ng-template>

<p-card class="border-round-lg bloco-cadastro" [styleClass]="isFormularioMaximizado() ? 'maximizado' : ''">
  <div class="acoes-cadastro flex justify-content-end align-items-center column-gap-3">
    <i *ngIf="!isFormularioMaximizado()" class="pi pi-window-maximize cursor-pointer" style="color: #444" (click)="isFormularioMaximizado.set(!isFormularioMaximizado())"></i>
    <i *ngIf="isFormularioMaximizado()" class="pi pi-window-minimize cursor-pointer" style="color: #444" (click)="isFormularioMaximizado.set(!isFormularioMaximizado())"></i>
    <i class="pi pi-times-circle cursor-pointer" style="color: #444" (click)="onClose()"></i>
  </div>
  <div class="grid m-0">
    <div  [ngClass]="{'col-12 lg:col-2 lg:pt-4 lg:pr-4': !isMinimizado(), 'hidden': isMinimizado() }">
      <div *ngIf="isMobile">
        <ng-container *ngTemplateOutlet="templateAjudaMobile"></ng-container>
      </div>
      <div *ngIf="!isMobile">
        <ng-container *ngTemplateOutlet="templateAjudaDesktop"></ng-container>
      </div>
    </div>
    <div class="col-12 lg:col-10 p-0" [ngClass]="{'lg:col-12': isMinimizado() }">
      <div class="flex">
        <p-button *ngIf="abas?.length && isMinimizado()" class="hidden lg:flex pt-3 pr-4" icon="pi pi-angle-right"
          styleClass="p-button-outlined p-button-primary p-button-icon-only-xs" pTooltip="Maximizar ajuda"
          (click)="isMinimizado.set(!isMinimizado())"></p-button>

        <p-tabView *ngIf="abas?.length; else loading;" (onChange)="alterarAbaAtiva($event)">
          @for (aba of abas; track $index;  let index = $index;) {
            <p-tabPanel [header]="aba?.nome" [disabled]="!cadastroId && index != 0">
              <div *ngIf="abaAtiva.hash == aba.hash" [class]="isFormularioMaximizado() ? 'conteudo-cadastro-maximizado' : 'conteudo-cadastro'">
                <form [(formGroup)]="formulario" *ngIf="formulario; else loading;">
                  <div *ngIf="campos?.length && !loader(); else loading;" class="grid">

                    @for (campo of campos; track $index) {
                      <div class="field {{ campo?.configuracao_geral?.grid ?? 'col-12 lg:col-12' }}">
                        <div *ngIf="formulario?.controls[campo?.hash] && !campo?.configuracao_geral?.is_invisivel && !campo?.hash_pai" class="w-100">
  
                          <div *ngIf="campo?.configuracao_geral?.tipo === 'pk'" class="w-100">
                            <app-form [label]="campo?.nome" type="text"
                              [readonly]="true"
                              [formControlName]="campo?.hash" ngDefaultControl
                              [erro]="campo?.configuracao_geral?.erro"
                              [ajuda]="campo?.configuracao_geral?.ajuda" />
                          </div>
  
                          <div *ngIf="!campo?.configuracao_geral?.tipo || campo?.configuracao_geral?.tipo === 'text'" class="w-100">
                            <app-form [label]="campo?.nome" type="text"
                              [readonly]="campo?.configuracao_geral?.readonly"
                              [formControlName]="campo?.hash" ngDefaultControl
                              [erro]="campo?.configuracao_geral?.erro"
                              [ajuda]="campo?.configuracao_geral?.ajuda" />
                          </div>
  
                          <div *ngIf="campo?.configuracao_geral?.tipo === 'pesquisa'" class="w-100">
                            <app-form [label]="campo?.nome" type="pesquisa"
                              [formControlName]="campo?.hash" ngDefaultControl
                              [opcoesPesquisa]="opcoesPesquisa"
                              (pesquisar)="pesquisaGenerica(campo)"
                              [erro]="campo?.configuracao_geral?.erro"
                              [ajuda]="campo?.configuracao_geral?.ajuda" />
                          </div>
  
                          <div *ngIf="campo?.configuracao_geral?.tipo === 'textarea'" class="w-100">
                            <app-form [label]="campo?.nome" type="textarea" 
                              [maxLength]="campo?.configuracao_geral?.tamanho_maximo"
                              [formControlName]="campo?.hash" ngDefaultControl
                              [erro]="campo?.configuracao_geral?.erro"
                              [ajuda]="campo?.configuracao_geral?.ajuda" />
                          </div>
  
                          <div *ngIf="campo?.configuracao_geral?.tipo === 'select'" class="w-100">
                            <app-form [label]="campo?.nome" type="select"
                              (change)="changeSelect($event, campo)"
                              [formControlName]="campo?.hash" ngDefaultControl
                              [erro]="campo?.configuracao_geral?.erro"
                              [ajuda]="campo?.configuracao_geral?.ajuda"
                              placeholder="Selecione" [items]="campo?.configuracao_geral?.opcoes ?? []" />
                          </div>
  
                          <div *ngIf="campo?.configuracao_geral?.tipo === 'selectMultiplo'" class="w-100">
                            <app-form [label]="campo?.nome" type="select-multiplo"
                              [formControlName]="campo?.hash" ngDefaultControl
                              [erro]="campo?.configuracao_geral?.erro"
                              [ajuda]="campo?.configuracao_geral?.ajuda"
                              placeholder="Selecione" [items]="campo?.configuracao_geral?.opcoes ?? []" />
                          </div>
  
                          <div *ngIf="campo?.configuracao_geral?.tipo === 'int'" class="w-100">
                            <app-form [label]="campo?.nome" type="int"
                              [formControlName]="campo?.hash" ngDefaultControl
                              [erro]="campo?.configuracao_geral?.erro"
                              [readonly]="campo?.configuracao_geral?.readonly"
                              [ajuda]="campo?.configuracao_geral?.ajuda" />
                          </div>
  
                          <div *ngIf="campo?.configuracao_geral?.tipo === 'float'" class="w-100">
                            <app-form [label]="campo?.nome" type="float"
                              [formControlName]="campo?.hash" ngDefaultControl
                              [erro]="campo?.configuracao_geral?.erro"
                              [readonly]="campo?.configuracao_geral?.readonly"
                              [ajuda]="campo?.configuracao_geral?.ajuda" />
                          </div>
  
                          <div *ngIf="campo?.configuracao_geral?.tipo === 'dinheiro'" class="w-100">
                            <app-form [label]="campo?.nome" type="dinheiro"
                              [formControlName]="campo?.hash" ngDefaultControl
                              [erro]="campo?.configuracao_geral?.erro"
                              [readonly]="campo?.configuracao_geral?.readonly"
                              [ajuda]="campo?.configuracao_geral?.ajuda" />
                          </div>
  
                          <div *ngIf="campo?.configuracao_geral?.tipo === 'celular'" class="w-100">
                            <app-form [label]="campo?.nome" type="celular"
                              [formControlName]="campo?.hash" ngDefaultControl
                              [erro]="campo?.configuracao_geral?.erro"
                              [readonly]="campo?.configuracao_geral?.readonly"
                              [ajuda]="campo?.configuracao_geral?.ajuda" />
                          </div>
  
                          <div *ngIf="campo?.configuracao_geral?.tipo === 'telefone'" class="w-100">
                            <app-form [label]="campo?.nome" type="telefone"
                              [formControlName]="campo?.hash" ngDefaultControl
                              [erro]="campo?.configuracao_geral?.erro"
                              [readonly]="campo?.configuracao_geral?.readonly"
                              [ajuda]="campo?.configuracao_geral?.ajuda" />
                          </div>
  
                          <div *ngIf="campo?.configuracao_geral?.tipo === 'hora'" class="w-100">
                            <app-form [label]="campo?.nome" type="hora"
                              [formControlName]="campo?.hash" ngDefaultControl
                              [erro]="campo?.configuracao_geral?.erro"
                              [readonly]="campo?.configuracao_geral?.readonly"
                              [ajuda]="campo?.configuracao_geral?.ajuda" />
                          </div>
  
                          <div *ngIf="campo?.configuracao_geral?.tipo === 'cpf'" class="w-100">
                            <app-form [label]="campo?.nome" type="cpf"
                              [formControlName]="campo?.hash" ngDefaultControl
                              [erro]="campo?.configuracao_geral?.erro"
                              [readonly]="campo?.configuracao_geral?.readonly"
                              [ajuda]="campo?.configuracao_geral?.ajuda" />
                          </div>
  
                          <div *ngIf="campo?.configuracao_geral?.tipo === 'rg'" class="w-100">
                            <app-form [label]="campo?.nome" type="rg"
                              [formControlName]="campo?.hash" ngDefaultControl
                              [erro]="campo?.configuracao_geral?.erro"
                              [readonly]="campo?.configuracao_geral?.readonly"
                              [ajuda]="campo?.configuracao_geral?.ajuda" />
                          </div>
  
                          <div *ngIf="campo?.configuracao_geral?.tipo === 'cnpj'" class="w-100">
                            <app-form [label]="campo?.nome" type="cnpj"
                              [formControlName]="campo?.hash" ngDefaultControl
                              [erro]="campo?.configuracao_geral?.erro"
                              [readonly]="campo?.configuracao_geral?.readonly"
                              [ajuda]="campo?.configuracao_geral?.ajuda" />
                          </div>
  
                          <div *ngIf="campo?.configuracao_geral?.tipo === 'cep'" class="w-100">
                            <app-form [label]="campo?.nome" type="cep"
                              [formControlName]="campo?.hash" ngDefaultControl
                              [erro]="campo?.configuracao_geral?.erro"
                              [readonly]="campo?.configuracao_geral?.readonly"
                              [ajuda]="campo?.configuracao_geral?.ajuda" />
                          </div>
  
                          <div *ngIf="campo?.configuracao_geral?.tipo === 'correio'" class="w-100">
                            <app-form [label]="campo?.nome" type="correio"
                              [formControlName]="campo?.hash" ngDefaultControl
                              [erro]="campo?.configuracao_geral?.erro"
                              [readonly]="campo?.configuracao_geral?.readonly"
                              [ajuda]="campo?.configuracao_geral?.ajuda" />
                          </div>
  
                          <div *ngIf="campo?.configuracao_geral?.tipo === 'mask'" class="w-100">
                            <app-form [label]="campo?.nome" type="mask"
                              [formControlName]="campo?.hash" ngDefaultControl
                              [erro]="campo?.configuracao_geral?.erro"
                              [readonly]="campo?.configuracao_geral?.readonly"
                              [ajuda]="campo?.configuracao_geral?.ajuda"
                              [mask]="campo?.configuracao_geral?.mascara" />
                          </div>
  
                          <div *ngIf="campo?.configuracao_geral?.tipo === 'password'" class="w-100">
                            <app-form [label]="campo?.nome" type="password"
                              [formControlName]="campo?.hash" ngDefaultControl
                              [erro]="campo?.configuracao_geral?.erro"
                              [ajuda]="campo?.configuracao_geral?.ajuda" />
                          </div>
  
                          <div *ngIf="campo?.configuracao_geral?.tipo === 'switch'" class="w-100">
                            <app-form [label]="campo?.nome" type="switch"
                              [formControlName]="campo?.hash" ngDefaultControl
                              [erro]="campo?.configuracao_geral?.erro"
                              [ajuda]="campo?.configuracao_geral?.ajuda" />
                          </div>
  
                          <div *ngIf="campo?.configuracao_geral?.tipo === 'checkbox'" class="w-100">
                            <app-form [label]="campo?.nome" type="checkbox"
                              (change)="changeCheckbox($event.checked, campo)"
                              [formControlName]="campo?.hash" ngDefaultControl
                              [erro]="campo?.configuracao_geral?.erro"
                              [ajuda]="campo?.configuracao_geral?.ajuda" />
                          </div>
  
                          <div *ngIf="campo?.configuracao_geral?.tipo === 'radio' && campo?.configuracao_geral?.opcoes?.length" class="w-100">
                            <app-form [label]="campo?.nome" type="radio"
                              [formControlName]="campo?.hash" ngDefaultControl
                              [erro]="campo?.configuracao_geral?.erro"
                              [ajuda]="campo?.configuracao_geral?.ajuda"
                              [items]="campo?.configuracao_geral?.opcoes" />
                          </div>
  
                          <div *ngIf="campo?.configuracao_geral?.tipo === 'date'" class="w-100">
                            <app-form [label]="campo?.nome" type="date"
                              (blur)="validacaoDateRange($event, campo)"
                              [readonly]="campo?.configuracao_geral?.readonly"
                              [formControlName]="campo?.hash" ngDefaultControl
                              [erro]="campo?.configuracao_geral?.erro"
                              [ajuda]="campo?.configuracao_geral?.ajuda" />
                          </div>
  
                          <div *ngIf="campo?.configuracao_geral?.tipo === 'date-range'" class="w-100">
                            <app-form [label]="campo?.nome" type="date-range"
                              [formControlName]="campo?.hash" ngDefaultControl
                              [erro]="campo?.configuracao_geral?.erro"
                              [ajuda]="campo?.configuracao_geral?.ajuda" />
                          </div>
  
                          <div *ngIf="campo?.configuracao_geral?.tipo === 'editor-html'" class="w-100">
                            <app-form [label]="campo?.nome" type="editor-html"
                              [formControlName]="campo?.hash" ngDefaultControl
                              [erro]="campo?.configuracao_geral.erro" 
                              [ajuda]="campo?.configuracao_geral.ajuda" />
                          </div>
  
                          <div *ngIf="campo?.configuracao_geral?.tipo === 'planilha'" class="w-100">
                            <app-planilha 
                              [label]="campo?.nome" type="planilha"
                              [formControlName]="campo?.hash" 
                              [erro]="campo?.configuracao_geral.erro" 
                              [modelo]="campo?.configuracao_geral.modelo"
                              [nomeModelo]="campo?.configuracao_geral?.nomeModelo"
                              [ajuda]="campo?.configuracao_geral.ajuda" 
                              ngDefaultControl/>
                          </div>
  
                          <div *ngIf="campo?.configuracao_geral?.tipo === 'mini-admin'" class="w-100">
                            <app-mini-admin 
                              [label]="campo?.nome" 
                              [hashCadastro]="campo?.configuracao_geral?.hash_cadastro"
                              [hashAba]="campo?.configuracao_geral?.hash_aba"
                              [controlName]="campo?.hash" 
                              (atualizarOpcoes)="atualizarOpcoes($event, campo)"
                              [items]="campo?.configuracao_geral?.opcoes ?? []"
                              [erro]="campo?.configuracao_geral?.erro" 
                              [placeholder]="'Selecione' ?? ''">
                            </app-mini-admin>
                          </div>
  
                          <div *ngIf="campo?.configuracao_geral?.tipo === 'dualist'" class="w-100">
                            <app-form label="Dualist" type="dualist" [items]="campo?.configuracao_geral?.opcoes ?? []" [itemsSelecionados]="campo?.configuracao_geral?.opcoes_selecionadas ?? []"
                              [formControlName]="campo?.hash"  ngDefaultControl
                              erro="Descrição para campo inválido" 
                            />
                          </div>
  
                          <div *ngIf="campo?.configuracao_geral?.tipo === 'tabela'" class="w-100">
                            <label>{{ campo?.nome }}</label>
                            <datagrid [columns]="campo?.configuracao_geral?.colunas" [configuracoes]="configuracoes"
                              [control]="formulario?.controls[campo?.hash]" [urlPaginacao]=""></datagrid>
                          </div>
  
                          <div *ngIf="campo?.configuracao_geral?.tipo === 'cadastroArvore' && formulario.get(campo?.hash)" class="w-100">
                            <app-cadastro-arvore 
                              [campos]="campo?.configuracao_geral?.campos" 
                              [configuracoes]="campo?.configuracao_geral?.configuracoes"
                              [controlName]="campo?.hash" 
                              [temFilhos]="campo?.configuracao_geral?.temFilhos ?? false"
                              ngDefaultControl>
                            </app-cadastro-arvore>
                          </div>
  
                          <div *ngIf="campo?.configuracao_geral?.tipo === 'mestreDetalhe'" class="w-100">
                            <label>{{ campo?.nome }}</label>
                            <datagrid 
                              [columns]="campo?.configuracao_geral?.colunas" 
                              [configuracoes]="campo?.configuracao_geral?.configuracoes"
                              [control]="formulario?.controls[campo?.hash]" 
                              [data]="formulario?.get(campo.hash)?.value ?? []" 
                              [erro]="campo?.configuracao_geral.erro" 
                              [ajuda]="campo?.configuracao_geral.ajuda" >
                            </datagrid>
                          </div>
  
                        </div>
                        <!-- TODO: Mapear todos os componentes e suas configurações do admin antigo e mapeá-los aqui (PS: Priorizar a implementação de componentes do PrimeNG) -->
                      </div>
                    }
                    
                  </div>
                </form>
              </div>
            </p-tabPanel>
          }
        </p-tabView>
      </div>

    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-end" *ngIf="campos?.length;">
      <div class="col-6 lg:col-2">
        <p-button [label]="Salvar" icon="pi pi-check" size="small" styleClass="p-button-primary p-button-sm" (click)="onSubmit()"></p-button>
      </div>
      <div class="col-6 lg:col-2">
        <p-button [label]="Cancelar" icon="pi pi-times" size="small" styleClass="p-button-secondary p-button-sm" (click)="onClose()"></p-button>
      </div>
    </div>
  </ng-template>
</p-card>
