<a style="text-decoration: none; cursor: pointer;" (click)="redirectToEvent(dados)">
    <p-card>
        @if(dados[nome]){
            <div class="mb-2 flex align-items-center justify-content-between">
                @if(dados[nome] == "muito-recomendado"){
                    <div class="background-status muito-recomendado">
                        <p class="text-xxs font-bold text-center">Muito recomendado</p>
                    </div>
                }@else if(dados[nome] == "recomendado"){
                    <div class="background-status recomendado text-surface">
                        <p class="text-xxs font-bold text-center">Recomendado</p>
                    </div>
                }@else if(dados[nome] == "arriscado"){
                    <div class="background-status arriscado text-surface">
                        <p class="text-xxs font-bold text-center">Arriscado</p>
                    </div>
                }@else if(dados[nome] == "nao-recomendado"){
                    <div class="background-status nao-recomendado">
                        <p class="text-xxs font-bold text-center">Não recomendado</p>
                    </div>
                }@else if(dados[nome] == "nao-investir"){
                    <div class="background-status nao-investir">
                        <p class="text-xxs font-bold text-center">Não investir</p>
                    </div>
                }
                <p class="font-bold text-xs">{{dados.data | date:'dd/MM/yyyy - HH:mm'}}</p>
            </div>
        }
        @if(!dados[nome]){
            <div class="flex align-items-center justify-content-center">
                <p class="font-bold text-xs">{{dados.data | date:'dd/MM/yyyy - HH:mm'}}</p>
            </div>
        }
        <div class="flex align-items-center justify-content-around my-3">
            <div class="flex flex-column justify-content-center align-items-center gap-2">
                <img [src]="dados.time_a__logo" height="50">
                <p class="font-lg font-bold">{{dados.time_a__nome}}</p>
            </div>
            <span class="material-symbols-outlined text-primary text-4xl">close</span>
            <div class="flex flex-column justify-content-center align-items-center gap-2">
                <img [src]="dados.time_b__logo" height="50">
                <p class="font-lg font-bold">{{dados.time_b__nome}}</p>
            </div>
        </div>
        <hr class="p-0 m-0 py-1" style="border-top-color: var(--primary-color);">
        <div class="flex align-items-center justify-content-center">
            <a class="text-sm text-primary">{{dados.campeonato__nome}}</a>
        </div>
    </p-card>
</a>