<ng-template #loading>
    <app-loader class="flex justify-content-center w-100"></app-loader>
</ng-template>

<p-card class="border-round-lg">
    <div class="grid mb-2">
      <div class="col-12 flex justify-content-between">
        <p class="p-card-title">Cadastro de grupos</p>
        <p class="p-card-subtitle flex align-items-center">Versão 1.0.0</p>
      </div>
    </div>
    <div class="grid">
        <div class="col-12 lg:col-2">
            <div class="block">
                <p class="font-semibold text-sm mb-2">Grupos?</p>
                <p class="font-light text-color-secondary text-xs mb-2">Esta seção é dedicada ao cadastro e gerenciamento de grupos do sistema. Aqui, você pode criar novos itens de grupos que serão vinculados ao usuário.</p>
            </div>
        </div>
        <div class="col-12 lg:col-10 lg:pl-4">
            <form [formGroup]="formularioCadastroGrupos">
                <div class="grid">
                    <div class="field col-4">
                        <div class="w-100">
                            <app-form label="Nome" type="text" formControlName="nome" [required]="true" ngDefaultControl erro="Digite o nome do grupo!" />
                        </div>
                    </div>
                    <div class="field col-4">
                        <div class="w-100">
                            <app-form label="Nome Descritivo" type="text" formControlName="nm_descritivo" [required]="true" ngDefaultControl erro="Digite o nome descritivo do grupo!" />
                        </div>
                    </div>
                    <div class="field col-4">
                        <div class="w-100">
                            <app-form label="Nível" type="int" formControlName="nivel" ngDefaultControl />
                        </div>
                    </div>
                    <div class="field col-12">
                        <div class="w-100">
                            <app-form label="Descrição" type="textarea"
                            formControlName="descricao" placeholder="..." ngDefaultControl/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <ng-template pTemplate="footer">
        <div class="flex justify-content-end">
            <div class="col-6 lg:col-2">
                <p-button label="Voltar" icon="pi pi-times" [outlined]="true" size="small" styleClass="p-button-primary p-button-sm" (click)="this.router.navigate(['/usuarios/grupos/home/'])"></p-button>
            </div>
            <div class="col-6 lg:col-2">
                <p-button label="Salvar" icon="pi pi-check" size="small" styleClass="p-button-success p-button-sm" (click)="onSubmit()"></p-button>
            </div>
        </div>
    </ng-template>
</p-card>