.gestor-arquivos {
    position: relative;
}

.gestor-arquivos .btn:disabled {
    cursor: default;
}

.gestor-arquivos .btn.btn-ghost-light:not(:disabled):hover {
    background-color: #D9E1E6;
}

.gestor-arquivos .badge-pill-gray {
    background: #f0f3f5
}

.badge-pill {
  border-radius: 10rem;
  height: 40px;
}

/* filepond */
html:not([dir=rtl]) .was-validated .filepond--root:has(.filepond--browser:invalid) .filepond--panel.filepond--panel-root>div {
    border: 1px solid var(--danger);
}

/* loading */
.arquivo-loading > img {
    animation: rotating 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* div arquivos */
.div-arquivos {
    position: relative;
}

.div-arquivos .div-arquivo {
    margin-bottom: 0.5rem;
    height: fit-content;
    padding: 0 12px;
}

.msg-sem-arquivos {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 100%;
}

.caminho {
    align-items: center;
    color: #595959;
    cursor: pointer;
    display: flex;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.caminho__segmento {
    cursor: pointer;
    margin-top: 0.2rem;
    transition: transform 0.1s ease;
}

.caminho__segmento:hover {
    color: var(--primary);
    transform: scale(1.05);
}

.btn-folders {
  height: 35px;
  width: 40px;
  border-radius: 4px;
  background-color: var(--menuitem-icon-color);
  color: #fff;
  border: transparent;
}
.input-height {
  height: 35px;
}
