<div #gestor class="gestor-arquivos">
  <div class="flex flex-wrap justify-content-between p-2">
    <div class="flex align-items-center flex-grow-1 mr-2">
      <div class="flex badge-pill badge-pill-gray px-0 mr-2">
        <button class="btn btn-ghost-light mr-1 rounded-circle border-none" style="padding: 10px;"
          (click)="voltar()" [disabled]="!historico.prev.length || loading">
          <i class="pi pi-angle-left" style="font-size: 1.1rem;"></i>
        </button>
        <button class="btn btn-ghost-light mr-1 rounded-circle border-none" style="padding: 10px;"
          (click)="avancar()" [disabled]="!historico.next.length || loading">
          <i class="pi pi-angle-right" style="font-size: 1.1rem;"></i>
        </button>
        <button class="btn btn-ghost-light rounded-circle border-none" style="padding: 10px;"
          (click)="atualizar('.')" [disabled]="loading" [ngClass]="{ 'arquivo-loading': loading }">
          <i class="pi pi-refresh" style="font-size: 1.1rem;"></i>
        </button>
      </div>

      <div class="flex align-items-center flex-grow-1 badge-pill badge-pill-gray p-2">
        <span class="material-symbols-outlined"
         (click)="atualizar()">
          folder_open
        </span>
        <span *ngFor="let path of paths" class="caminho__segmento"
          (click)="atualizar(path.id)">
          /{{ path.nome }}
        </span>
      </div>
    </div>

    <div>
      <button *ngFor="let btn of customButtons" class="btn {{ btn.classes }} mr-1 tooltip-custom left"
        [attr.data-text]="btn.tooltip" (click)="clickCustom(btn.id)">
        <img [src]="btn.icon" height="25" alt="Ícone {{ btn.id }}">
      </button>
      <button class="btn btn-primary mr-1 tooltip-custom left btn-folders" data-text="Upload arquivo"
        (click)="abrirCadastro(false)">
        <span class="material-symbols-outlined">cloud_upload</span>
      </button>
      <button class="btn btn-primary mr-1 tooltip-custom left btn-folders" data-text="Criar pasta"
        (click)="abrirCadastro(true)" style="padding-bottom: 9px; padding-top: 9px;">
        <span class="material-symbols-outlined">create_new_folder</span>
      </button>
      <button class="btn btn-acoes tooltip-custom left btn-folders" data-text="Alterar visualização"
        (click)="alterarVisualizacao()">
        <span class="material-symbols-outlined">edit_document</span>
      </button>
    </div>
  </div>

  <div class="px-2">
    <div class="input-group mb-2 flex">
      <button class="input-group-prepend btn-folders mr-2">
        <span class="material-symbols-outlined">search</span>
      </button>
      <input type="text" placeholder="Busca por arquivo ou pasta" class="form-control input-sm py-2 w-full input-height"
        [(ngModel)]="termo" (input)="pesquisar()">
    </div>
  </div>

  <div class="div-arquivos" (contextmenu)="abrirOpcoesArquivo($event)">
    <div *ngIf="loading" [@inOutAnimation]
      class="flex justify-content-center align-items-center p-3">
      <img src="assets/img/loader/loader.gif" width="100">
    </div>
    <div *ngIf="(!arquivos.length && !loading) || semResultados" [@inOutAnimation] class="msg-sem-arquivos">
      <span class="text-muted">Nenhum arquivo encontrado</span>
    </div>

    <div selectionBox [xMargin]="12" *ngIf="arquivos.length" class="row grid" [ngClass]="{
      'p-2 pb-4': !semResultados
    }">
      <ng-template ngFor let-arq [ngForOf]="arquivos">
        <div [@inOutAnimation] #selectable [attr.data-id]="arq.id" *ngIf="!arq.hide" class="div-arquivo" [ngClass]="{
          'col-12 col-md-12 col-lg-12 col-xl-6': !isVisualizacaoBloco(),
          'col-6 col-md-4 col-lg-3 col-xl-2': isVisualizacaoBloco()
        }">
          <app-gestor-arquivo #selectableComponent [config]="arq" [visualizacao]="visualizacao"></app-gestor-arquivo>
        </div>
      </ng-template>
    </div>
  </div>

  <app-modal-cadastro-arquivo [diretorio]="diretorio" [arquivos]="arquivos" [params]="params"></app-modal-cadastro-arquivo>
  <app-menu-opcoes-arquivo [diretorio]="diretorio" [gestor]="gestorRef" [selecionados]="selecionados"></app-menu-opcoes-arquivo>
</div>
