<div class="col-12 pb-0">
  @if(tipo != 'recarga'){
    <p class="font-md text-primary flex justify-content-between">
      <span>Desconto recebido:</span>
      <span>R$ {{ calcularDesconto() }}</span>
    </p>
  }
  <p class="font-xl text-primary font-bold flex justify-content-between">
    <span>Valor total:</span>
    <span>R$ {{ calculaValortotal() }}</span>
  </p>
  @if(passo == 'pagamento' && valorRestante > 0){
    <p class="font-xl text-danger font-bold flex justify-content-between">
      <span>Valor restante:</span>
      <span>R$ {{ convertePrecoParaPadraoBR(valorRestante) }}</span>
    </p>
  }
</div>

@if (!passo || passo == 'produtos') {
  @if(!modoExclusao){
    <div class="col-12">
      <p-button [label]="_textoBotaoPrincipal" size="small"
        [appAtalhoEvento]="'Enter'" (evento)="proximoPasso()" (click)="proximoPasso()" />
    </div>
    <div class="col-6 pt-0">
      <p-button label="Cancelar (Esc)" size="small" severity="danger"
        [appAtalhoEvento]="'Escape'" (evento)="cancelarCompra()" (click)="cancelarCompra()" />
    </div>
    <div class="col-6 pt-0">
      <p-button label="Excluir produtos (Del)" size="small" [outlined]="true" icon="pi pi-trash"
        [appAtalhoEvento]="'Delete'" (evento)="autorizarModoExclusao()" (click)="autorizarModoExclusao()" />
    </div>
  } @else {
    <div class="col-12">
      <p-button label="Confirmar exclusão de itens (Enter)" size="small"
        [appAtalhoEvento]="'Enter'" (evento)="confirmarExclusao()" (click)="confirmarExclusao()" />
    </div>
    <div class="col-12 pt-0">
      <p-button label="Cancelar exclusão de itens (Esc)" size="small" severity="danger"
        [appAtalhoEvento]="'Escape'" (evento)="cancelarExclusao()" (click)="cancelarExclusao()" />
    </div>
  }
} @else {
  <div class="col-12">
    <p-button [label]="_textoBotaoPrincipal" size="small"
      [appAtalhoEvento]="'Enter'" (evento)="proximoPasso()" (click)="proximoPasso()" />
  </div>
  <div class="col-12 pt-0">
    <p-button label="Cancelar (Esc)" size="small" severity="danger"
      [appAtalhoEvento]="'Escape'" (evento)="cancelarCompra()" (click)="cancelarCompra()" />
  </div>
}

<ng-template #modalAutorizacaoGestor>
  <div class="grid flex justify-content-center">
    <div class="col-12">
      <p-button label="Autorizar (Ctrl + Q)" size="small" severity="danger"
        [appAtalhoEvento]="'q'" [ctrl]="true" (evento)="habilitarModoExclusao()" (click)="habilitarModoExclusao()" />
    </div>
  </div>
</ng-template>
