<h1 class="text-primary font-2xl">Dashboard de: {{nomeUser}}</h1>
<div class="grid">
    <div class="col-6 md:col-3">
        <div class="card">
            <p class="text-primary font-sm">Apostas realizadas:</p>
            <p class="text-primary font-2xl font-bold">123</p>
        </div>
    </div>
    <div class="col-6 md:col-3">
        <div class="card">
            <p class="text-primary font-sm">Odd média:</p>
            <p class="text-primary font-2xl font-bold">2.32</p>
        </div>
    </div>
    <div class="col-6 md:col-3">
        <div class="card">
            <p class="text-primary font-sm">Valor médio:</p>
            <p class="text-primary font-2xl font-bold">R$ 23.89</p>
        </div>
    </div>
    <div class="col-6 md:col-3">
        <div class="card">
            <p class="text-primary font-sm">Principal tipo de aposta:</p>
            <p class="text-primary font-2xl font-bold">+8.5 escanteios</p>
        </div>
    </div>
</div>
<div class="grid">
    <div class="col-12 md:col-6">
        <div class="card">
            <p class="text-primary font-sm font-bold">Campeonatos mais apostados:</p>
            <p-chart type="bar" [data]="dataCampeonatos" [options]="basicOptions" />
        </div>
    </div>
    <div class="col-12 md:col-6">
        <div class="card">
            <p class="text-primary font-sm font-bold">Tipos mais apostados:</p>
            <p-chart type="bar" [data]="tipoAposta" [options]="basicOptions" />
        </div>
    </div>
</div>
