<h1 class="text-primary font-2xl">Dashboard de: {{nomeUser}}</h1>
<div class="grid">
    <div class="col-6 md:col-3">
        <div class="card">
            <p class="text-primary font-sm">Apostas realizadas:</p>
            <p class="text-primary font-2xl font-bold">{{dadosCards?.qtd_apostas ?? '--'}}</p>
        </div>
    </div>
    <div class="col-6 md:col-3">
        <div class="card">
            <p class="text-primary font-sm">Odd média:</p>
            <p class="text-primary font-2xl font-bold">{{dadosCards?.odd_media ? toLocaleFixed(dadosCards.odd_media) : '--'}}</p>
        </div>
    </div>
    <div class="col-6 md:col-3">
        <div class="card">
            <p class="text-primary font-sm">Valor médio:</p>
            <p class="text-primary font-2xl font-bold">R$ {{dadosCards?.valor_medio ? toLocaleFixed(dadosCards.valor_medio) : '--'}}</p>
        </div>
    </div>
    <div class="col-6 md:col-3">
        <div class="card">
            <p class="text-primary font-sm">Principal tipo de aposta:</p>
            <p class="text-primary font-2xl font-bold">{{dadosCards?.tipoAposta ?? '--'}}</p>
        </div>
    </div>
</div>
<div class="grid">
    <div class="col-12 md:col-6">
        <div class="card">
            <div class="flex align-items-center justify-content-between">
                <p class="text-primary font-sm font-bold">Campeonatos mais apostados:</p>
                <a class="text-primary material-symbols-outlined cursor-pointer" (click)="exportToExcelCampeonato()">download</a>
            </div>
            
            <div echarts [options]="chartCampeonatoOption" class="demo-chart"></div>
        </div>
    </div>
    <div class="col-12 md:col-6">
        <div class="card">
            <div class="flex align-items-center justify-content-between">
                <p class="text-primary font-sm font-bold">Tipos mais apostados:</p>
                <a class="text-primary material-symbols-outlined cursor-pointer" (click)="exportToExcelTipo()">download</a>
            </div>
            <div echarts [options]="chartTipoOption" class="demo-chart"></div>
        </div>
    </div>
</div>