<p-confirmDialog #dialog [style]="{width: widthDesktop ?? '60vw'}" [breakpoints]="{ '768px': widthMobile ?? '95vw' }">
  <ng-template pTemplate="footer">
    <div class="grid justify-content-end pt-4">
      <div class="col-6">
        <p-button [icon]="dialog?.acceptIcon ? 'pi ' + dialog.acceptIcon : 'pi pi-check'" size="small"
          [label]="dialog?.acceptLabel ?? 'Confirmar'" [appAtalhoEvento]="'Enter'" [shift]="true" (evento)="dialog?.accept()" (click)="dialog?.accept()" />
      </div>
      <div class="col-6">
        <p-button [icon]="dialog?.rejectIcon ? 'pi ' + dialog.rejectIcon : 'pi pi-times'" size="small" severity="secondary"
          [label]="dialog?.rejectLabel ?? 'Cancelar'" [appAtalhoEvento]="'Escape'" [shift]="true" (evento)="dialog?.reject()" (click)="dialog?.reject()" />
      </div>
    </div>
  </ng-template>
</p-confirmDialog>
