<p-menubar>
    <ng-template pTemplate="start">
        <div class="flex align-items-center justify-content-center">
            <i class="pi pi-bars text-black iconHamburguer mx-3"></i>
            <img src="../../../../assets/logo_goodgain.png" height="50" class="mr-2" />
            <p class="fontTitle my-3">Good Gain</p>
        </div>
    </ng-template>
    <ng-template pTemplate="end">
        <div class="flex align-items-center justify-content-center">
            <i class="pi pi-user text-black iconUser mx-3"></i>
        </div>
    </ng-template>
</p-menubar>