<header class="app-header navbar flex-nowrap flex-column" style="z-index:1000">
  <div class="grid w-100 flex flex-row align-items-center p-0 m-0">
    <div class="col-4 flex justify-content-start align-items-center">
      <i class="material-symbols-outlined toggleMenu cursor-pointer flex align-items-center justify-content-center pl-2 pr-3 text-2xl text-primary" (click)="toggleMenu()" style="height: 13px;">menu</i>
      <img src="../../../../assets/icons/logoGGdescritivoVerde.svg" alt="Good Gain" class="logoProduto">
    </div>
    <div class="col-4">
    </div>
    <div class="col-4 flex justify-content-end flex-nowrap align-items-center">
      <p-avatar styleClass="cursor-pointer" size="normal" shape="circle"
        [appAtalhoEvento]="'Tab'" [shift]="true" (evento)="toggleMenuPerfil()" (click)="toggleMenuPerfil()" [style]="{'background-color':'#EFF3F8', 'color': '#05FF00'}"><span class="material-symbols-outlined"> person</span></p-avatar>
    </div>
  </div>
</header>