.loader-spinner {
  border: 5px solid var(--primary-color);
  border-radius: 50%;
  border-top: 5px solid var(--surface-a);
  width: 60px;
  height: 60px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media print {
  app-root>* {
    display: none;
  }
  app-root app-print-layout {
    display: block;
  }
}
