<div class="flex flex-column align-items-center">
    <div class="w-full">
        <p-card>
            <div class="grid p-3">
                <div class="col-6 md:col-2 flex align-items-center justify-content-center">
                    <i class="pi pi-user text-primary" style="font-size: 5.5rem"></i>
                </div>
                <div class="col-6 md:col-4 flex flex-column align-items-start justify-content-center">
                    <p class="text-primary text-2xl">{{username}}</p>
                    <p>CPF: {{cpfUser}}</p>
                    <p>Email: {{emailUser}}</p>
                </div>
            </div>
        </p-card>
    </div>

    <div class="surface-section mt-5" style="width: 75%;">
        <p class="font-medium text-xl text-900 mb-3">Minhas preferências:</p>
        <form [formGroup]="formPreferencias" class="">
            <div class="grid">
                <div class="col-12 md:col-4 mb-2">
                    <app-form type="select-multiplo" id="esporte" label="Esportes" formControlName="esporte" [items]="itemsEsporte" placeholder="Selecione um esporte" ngDefaultControl/>
                </div>
                <div class="col-12 md:col-4 mb-2">
                    <app-form type="select-multiplo" [items]="itemsCampeonatos" id="opcoes_campeonatos" label="Campeonatos" formControlName="opcoes_campeonatos" placeholder="Selecione um campeonato" ngDefaultControl/>
                </div>
                <div class="col-12 md:col-4 mb-2">
                    <app-form type="select-multiplo" [items]="itemsTipoAposta" id="opcoes_apostas" label="Tipo de aposta" formControlName="opcoes_apostas" placeholder="Selecione um tipo de aposta" ngDefaultControl/>
                </div>
            </div>
            <div class="flex align-items-center justify-content-end">
                <button pButton pRipple label="Salvar preferência" icon="pi pi-check" style="width: 250px!important;"  (click)="onSubmitPreferencias()"></button>
            </div>
        </form>
    </div>

    <div class="surface-section mt-7" style="width: 75%;">
        <div class="flex align-items-center justify-content-between">
            <p class="font-medium text-xl text-900 mb-3">Minhas informações:</p>
            <div class="flex align-items-end gap-3">
                <button pButton pRipple label="Redefinir Senha" icon="pi pi-pencil" style="width: 250px!important;" (click)="abrirModalRedefinirSenha()"></button>
                <button pButton pRipple label="Editar" icon="pi pi-pencil" style="width: 150px!important;" (click)="toggleCamposDisable()"></button>
            </div>
        </div>

        <ul class="list-none p-0 m-0">
            <form [formGroup]="formPerfil">
                <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                    <div class="text-500 w-6 md:w-2 font-medium">Nome:</div>
                    <div class="text-900 w-full md:w-10 md:flex-order-0 flex-order-1">
                        <app-form type="text" id="nome" formControlName="nome" placeholder="Digite seu nome" ngDefaultControl [required]="true" erro="Informe um nome válido!"/>
                    </div>
                </li>
                <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                    <div class="text-500 w-6 md:w-2 font-medium">Sobrenome:</div>
                    <div class="text-900 w-full md:w-10 md:flex-order-0 flex-order-1">
                        <app-form type="text" id="sobrenome" formControlName="sobrenome" placeholder="Digite seu sobrenome" ngDefaultControl [required]="true" erro="Informe um sobrenome válido!"/>
                    </div>
                </li>
                <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                    <div class="text-500 w-6 md:w-2 font-medium">Usuário:</div>
                    <div class="text-900 w-full md:w-10 md:flex-order-0 flex-order-1">
                        <app-form type="text" id="username" formControlName="username" placeholder="Digite seu username" ngDefaultControl [required]="true" erro="Informe um usuário válido!"/>
                    </div>
                </li>
                <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                    <div class="text-500 w-6 md:w-2 font-medium">Email:</div>
                    <div class="text-900 w-full md:w-10 md:flex-order-0 flex-order-1">
                        <app-form type="text" id="email" formControlName="email" placeholder="Digite seu email" ngDefaultControl [required]="true" erro="Informe um usuário válido!"/>
                    </div>
                </li>
                <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                    <div class="text-500 w-6 md:w-2 font-medium">Data de nascimento:</div>
                    <div class="text-900 w-full md:w-10 md:flex-order-0 flex-order-1">
                        <app-form type="date" id="data_nascimento" formControlName="data_nascimento" placeholder="Selecione" ngDefaultControl [required]="true" erro="Informe sua data de nascimento!" [maxDate]="maxDate"/>
                    </div>
                </li>
                <li class="flex justify-content-end">
                    <button pButton pRipple label="Salvar" icon="pi pi-check" style="width: 150px!important;" [ngClass]="{'block': buttonSalvar, 'hidden': !buttonSalvar}" (click)="onSubmit()"></button>
                </li>
            </form>
        </ul>
        <div class="my-2 flex align-items-center justify-content-end">
            <p-button label="Excluir conta" icon="pi pi-times" severity="danger" (click)="excluirConta()"></p-button>
        </div>
    </div>
</div>

<ng-template #modalRedefinirSenha>
    <div class="modal-body">
        <form [formGroup]="formNovaSenha">
            <div class="row mt-3">
                <div class="col-12 mb-3">
                    <app-form type="password" id="oldPassword" label="Senha" formControlName="oldPassword" placeholder="Digite sua senha" ngDefaultControl [required]="true" erro="Informe uma senha válida!" ajuda="Para sua segurança, sua nova senha deve conter 8 ou mais caracteres, letra maiúscula(M), letra minúscula(m), símbolos(!) e números(1)"/>
                </div>
                <div class="col-12 mb-3">
                    <app-form type="password" id="password" label="Senha" formControlName="password" placeholder="Digite sua senha" ngDefaultControl [required]="true" erro="Informe uma senha válida!" ajuda="Para sua segurança, sua nova senha deve conter 8 ou mais caracteres, letra maiúscula(M), letra minúscula(m), símbolos(!) e números(1)"/>
                </div>
                <div class="col-12 mb-3">
                    <app-form type="password" id="confirmPassword" label="Confirmar Senha" formControlName="confirmPassword" placeholder="Confirme sua senha" ngDefaultControl [required]="true" erro="As senhas não coincidem!"/>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="flex justify-content-end">
            <button pButton pRipple label="Salvar" icon="pi pi-check" style="width: 150px!important;" (click)="onSubmitNovaSenha()" class="mt-2"></button>
        </div>
    </div>
</ng-template>