<div class="arquivo" (dblclick)="acessar()" (contextmenu)="abrirOpcoes($event)"
    [ngClass]="{
        'recortado': recortado,
        'visualizacao-bloco': isVisualizacaoBloco()
    }">
    <div class="div-arquivo-img-nome">
        <img class="arquivo-img" [src]="imagem" [alt]="config.formato">
        <div class="div-arquivo-nome">
            <p class="arquivo-nome mt-1">{{ config.nome }}{{ config.extensao ?? "" }}</p>
            <p *ngIf="tamanho" class="arquivo-tamanho">{{ tamanho }}</p>
        </div>
    </div>

    <div class="div-arquivo-data mt-1">
        <p class="text-muted">{{ data }}</p>
        <p class="text-muted arquivo-horario">{{ horario }}</p>
    </div>
</div>
