<div class="container-autenticacao">
  <div class="grid m-0 p-0 h-100">
    <div class="col-12 md:col-4 container-login flex flex-column justify-content-center row-gap-4">
      <img src="../../../assets/icons/logoGGdescritivoVerde.svg" alt="Logo" width="250">
      <p class="text-6xl font-bold">Cadastre-se!</p>
      <p class="text-lg font-light">E acesse uma plataforma completa sobre o mundo de trader esportivo!</p>
      <form [(formGroup)]="formCadastro" class="w-100">
        <div class="grid flex justify-content-center">
            <div class="col-12 mb-2">
                <app-form type="text" id="nome" [appElementoFoco]="'nome'" [atalho]="'1'" [ctrl]="true" label="Nome" formControlName="nome" placeholder="Digite um nome" ngDefaultControl/>
            </div>
            <div class="col-12 mb-2">
                <app-form type="text" id="sobrenome" [appElementoFoco]="'sobrenome'" [atalho]="'2'" [ctrl]="true" label="Sobrenome" formControlName="sobrenome" placeholder="Digite um sobrenome" ngDefaultControl/>
            </div>
            <div class="col-12 mb-2">
                <app-form type="cpf" id="cpf" [appElementoFoco]="'cpf'" [atalho]="'3'" [ctrl]="true" label="CPF" formControlName="cpf" placeholder="Digite o seu CPF" ngDefaultControl/>
            </div>
            <div class="col-12 mb-2">
                <app-form type="date" id="dataNascimento" [appElementoFoco]="'dataNascimento'" [atalho]="'5'" [ctrl]="true" label="Data de nascimento" formControlName="dataNascimento" placeholder="Selecione" ngDefaultControl/>
            </div>
            <div class="col-12 mb-2">
                <app-form type="text" id="username" [appElementoFoco]="'username'" [atalho]="'6'" [ctrl]="true" label="Usuário" formControlName="username" placeholder="Digite um usuário" ngDefaultControl/>
            </div>
            <div class="col-12 mb-3">
                <app-form type="password" id="password" [appElementoFoco]="'password'" [atalho]="'7'" [ctrl]="true" label="Senha" formControlName="password" placeholder="Digite sua senha" ngDefaultControl/>
            </div>
            <div class="col-12 mb-3">
                <app-form type="password" id="confirmPassword" [appElementoFoco]="'confirmPassword'" [atalho]="'8'" [ctrl]="true" label="Confirmar Senha" formControlName="confirmPassword" placeholder="Confirme sua senha" ngDefaultControl/>
            </div>
          <div class="col-12 mt-3">
            <p-button label="Cadastrar-se" size="large" styleClass="d-flex justify-content-center mt-3"
              [appAtalhoEvento]="'Enter'" (evento)="register()" (click)="register()" />
          </div>
          
        </div>
      </form>
    </div>
    <div class="col-12 hidden justify-content-center align-items-center md:col-8 md:flex">
        <img src="../../../assets/icons/logoGGdescritivoVerde.svg" alt="Logo" width="400">
    </div>
  </div>
</div>
