.grafico-diario {
	background-color: #4fb85c;
	border-radius: 5px;
	color: #fff;
}

.scroll-grafico{
	overflow: auto
}

::ng-deep .grafico-diario canvas {
	background-color: #4fb85c;
}

.scroll-grafico::-webkit-scrollbar {
	width: 5px;
	scrollbar-width: thin;
}

.scroll-grafico::-webkit-scrollbar-track {
	background: #f1f1f1;
}

.scroll-grafico::-webkit-scrollbar-thumb {
	background: #c0bfbf;
}

.scroll-grafico::-webkit-scrollbar-thumb:hover {
	background: #c0bfbf;
}