<div class="grafico-diario p-3">
  <div class="mb-4">
    <p class="font-semibold">Meta Diária</p>
    <p class="font-2xl font-bold">R$ 56.866,651</p>
    <p class="font-semibold">Realizado diário: <strong>R$ 52.994,98</strong></p>
  </div>
  <div class="scroll-grafico">
    <p-chart type="line" [options]="options" [data]="data" width="1000px" height="150px"></p-chart>
  </div>
</div>
<p-card>
  <div class="grid m-0">
    <div class="col-12 md:col-6 text-center border-right-1 border-300">
      <p class="font-xl font-bold">74</p>
      <p class="font-sm">Ticket Médio</p>
    </div>
    <div class="col-12 md:col-6 text-center border-left-1 border-300">
      <p class="font-xl font-bold">716</p>
      <p class="font-sm">Clientes Atendidos</p>
    </div>
  </div>
</p-card>