<ul class="layout-menu">
  <li>
    <ng-container *ngFor="let item of favoritos; let i = index;">
      <app-menuitem app-menuitem [item]="item" [index]="i" [root]="true"></app-menuitem>
    </ng-container>
  </li>

  <li>
    <ng-container *ngFor="let item of model; let i = index;">
      <app-menuitem app-menuitem [item]="item" [index]="i" [root]="true"></app-menuitem>
    </ng-container>
  </li>

</ul>

<ng-template #modalMenus>
  <div class="grid">
    <div class="col-12">
      <p>menus</p>
    </div>
  </div>
</ng-template>
