<ng-template #modalPreVenda>
  <form [(formGroup)]="formConsultarPreVenda" class="w-100">
    <div class="grid">
      <div class="col-12">
        <p-tabView (activeIndexChange)="panelAtivoAlterado($event)">
          <p-tabPanel header="Consultar">
            <ng-container *ngTemplateOutlet="templateFormConsultarPreVenda; context: {form: formConsultarPreVenda}"></ng-container>
            <div class="grid">
              <div class="col-12 mb-3">
                <p-accordion [activeIndex]="activeIndexPreVenda">
                  @if(loadingPreVenda) {
                    <div class="flex flex-column row-gap-3">
                      <p-skeleton height="5rem"></p-skeleton>
                      <p-skeleton height="5rem"></p-skeleton>
                      <p-skeleton height="5rem"></p-skeleton>
                    </div>
                  } @else {
                    @for (preVenda of preVendas; track $preVenda; let index = $index) {
                      @if (preVenda?.produtos?.length) {
                        <p-accordionTab [disabled]="preVenda?.pre_venda_utilizada">
                          <ng-template pTemplate="header">
                            <div class="flex justify-content-between align-items-center w-100">
                              <p class="font-lg font-semibold">Pré-venda: {{ formatarDataCriacao(preVenda?.dat_criacao) }}</p>
                              @if(!preVenda?.pre_venda_utilizada) {
                                <p-button [label]="'Enviar para cesta (Alt + ' + (index + 3) + ')'" severity="primary"
                                  [appAtalhoEvento]="index + 3" [alt]="true" (evento)="enviarPreVendaParaCesta($event, preVenda)" (click)="enviarPreVendaParaCesta($event, preVenda)" />
                              } @else {
                                <p-button label="Enviado para cesta" severity="secondary" [disabled]="true" [text]="true" />
                              }
                            </div>
                          </ng-template>
                          <app-pesquisa-produto [produtos]="preVenda?.produtos" grid="col-12 md:col-4"
                            [bloquearBotaoAcao]="true" tamanho="sm" [imgWidth]="50" [imgHeight]="50" />
                        </p-accordionTab>
                      }
                    } @empty {
                      @if (preVendaConsultada) {
                        <p class="font-lg font-semibold text-center">Nenhuma pré-venda disponível</p>
                      } @else {
                        <p class="font-lg font-semibold text-center">Pesquise uma pré-venda</p>
                      }
                    }
                  }
                </p-accordion>
              </div>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Excluir">
            <ng-container *ngTemplateOutlet="templateFormConsultarPreVenda; context: {form: formConsultarPreVenda}"></ng-container>
            <div class="grid">
              <div class="col-12 mb-3">
                <p-accordion [activeIndex]="0">
                  @if(loadingPreVenda) {
                    <div class="flex flex-column row-gap-3">
                      <p-skeleton height="5rem"></p-skeleton>
                      <p-skeleton height="5rem"></p-skeleton>
                      <p-skeleton height="5rem"></p-skeleton>
                    </div>
                  } @else {
                    @for (preVenda of preVendas; track $preVenda; let index = $index) {
                      @if (preVenda?.produtos?.length) {
                        <p-accordionTab>
                          <ng-template pTemplate="header">
                            <div class="flex justify-content-between align-items-center w-100">
                              <p class="font-lg font-semibold">Pré-venda: {{ formatarDataCriacao(preVenda?.dat_criacao) }}</p>
                              <p-button [label]="'Excluir pré-venda (Alt + ' + (index + 3) + ')'" severity="danger"
                                [appAtalhoEvento]="index + 3" [alt]="true" (evento)="excluirPreVenda(preVenda)" (click)="excluirPreVenda(preVenda)" />
                            </div>
                          </ng-template>
                          <app-pesquisa-produto [produtos]="preVenda?.produtos" grid="col-12 md:col-4"
                            [bloquearBotaoAcao]="true" tamanho="sm" [imgWidth]="50" [imgHeight]="50" />
                        </p-accordionTab>
                      }
                    } @empty {
                      @if (preVendaConsultada) {
                        <p class="font-lg font-semibold text-center mt-3">Nenhuma pré-venda disponível</p>
                      } @else {
                        <p class="font-lg font-semibold text-center mt-3">Pesquise uma pré-venda</p>
                      }
                    }
                  }
                </p-accordion>
              </div>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Resgatar">
            <ng-container *ngTemplateOutlet="templateFormConsultarPreVenda; context: {form: formConsultarPreVenda}"></ng-container>
            <div class="grid">
              <div class="col-12 mb-3">
                <p-accordion [activeIndex]="0">
                  @if(loadingPreVenda) {
                    <div class="flex flex-column row-gap-3">
                      <p-skeleton height="5rem"></p-skeleton>
                      <p-skeleton height="5rem"></p-skeleton>
                      <p-skeleton height="5rem"></p-skeleton>
                    </div>
                  } @else {
                    @for (preVenda of preVendas; track $preVenda; let index = $index) {
                      @if (preVenda?.produtos?.length) {
                        <p-accordionTab>
                          <ng-template pTemplate="header">
                            <div class="flex justify-content-between align-items-center w-100">
                              <p class="font-lg font-semibold">Pré-venda: {{ formatarDataCriacao(preVenda?.dat_criacao) }}</p>
                              <p-button [label]="'Resgatar pré-venda (Alt + ' + (index + 3) + ')'" severity="primary"
                                [appAtalhoEvento]="index + 3" [alt]="true" (evento)="resgatarPreVenda(preVenda)" (click)="resgatarPreVenda(preVenda)" />
                            </div>
                          </ng-template>
                          <app-pesquisa-produto [produtos]="preVenda?.produtos" grid="col-12 md:col-4"
                            [bloquearBotaoAcao]="true" tamanho="sm" [imgWidth]="50" [imgHeight]="50" />
                        </p-accordionTab>
                      }
                    } @empty {
                      @if (preVendaConsultada) {
                        <p class="font-lg font-semibold text-center mt-3">Nenhuma pré-venda disponível</p>
                      } @else {
                        <p class="font-lg font-semibold text-center mt-3">Pesquise uma pré-venda</p>
                      }
                    }
                  }
                </p-accordion>
              </div>
            </div>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #templateFormConsultarPreVenda>
  <div class="grid" [formGroup]="formConsultarPreVenda">
    <div class="col-6">
      <app-form label="CPF (Alt + 1)" type="text-group" id="pre-venda-cpf" [appElementoFoco]="'pre-venda-cpf'" [atalho]="1" [alt]="true"
          formControlName="cpf" ngDefaultControl
          mask="cpf" textoAgrupamento="CPF" (blur)="buscarPreVenda()"/>
    </div>
    <div class="col-6">
      <app-form label="Malote (Alt + 2)" type="int" id="pre-venda-malote" [appElementoFoco]="'pre-venda-malote'" [atalho]="2" [alt]="true"
          formControlName="codigo" ngDefaultControl (blur)="buscarPreVenda()" />
    </div>
  </div>
</ng-template>
