:host {
    z-index: 1000;
    position: relative;
}

@media (min-width: 1361px){
    :host{
        top: 0.1rem
    }
}

@media (max-width: 1360px){
    :host{
        top:2px;
    }
}

@media (max-width: 1024px){
    :host{
        top:14px;
    }
}

::ng-deep .p-menubar-root-list{
    display: flex;
    align-items: center;
    justify-content: end;
}

::ng-deep .p-menuitem-text {
    font-size: 0.75rem;
}

::ng-deep .p-menuitem-icon {
    font-size: 0.75rem;
}

::ng-deep .p-menubar .p-menuitem-link{
    padding: 0.6rem 0.45rem;
}

::ng-deep .p-menubar{
    border-radius: 0px;
}