.loader-spinner {
  margin-top: 10px;
  border: 5px solid var(--primary-color);
  border-radius: 50%;
  border-top: 5px solid var(--surface-0);
  width: 45px;
  height: 45px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
