<div class="flex align-items-center justify-content-between">
    <h1 class="text-primary font-2xl">
        @if(preferencia){
            Próximos eventos por campeonato:
        }@else{
            Próximos eventos:
        }
    </h1>
    <div class="flex align-items-center gap-2">
        <p-button icon="pi pi-th-large" (click)="buscarProximosEventos()" [disabled]="!preferencia"/> 
        <p-button icon="pi pi-sliders-h" (click)="buscarProximosEventosPreferencias()" [disabled]="preferencia"/>
    </div>
</div>
<section class="flex flex-column">
@for(campeonato of dadosConfrontos; track campeonato){
    <div class="flex flex-column">
        <p>{{campeonato.nome}}</p>
        <p-carousel 
            [value]="campeonato.eventos" 
            [numVisible]="3" 
            [numScroll]="3" 
            [circular]="false">
                <ng-template let-confronto pTemplate="item">
                    <div class="col-12">
                        <app-card-confrontos [dados]="confronto"></app-card-confrontos>
                    </div>
                </ng-template>
        </p-carousel>
    </div>
}
</section>