<div class="grid flex justify-content-center align-items-center w-100 m-0 p-0">
  <div class="col-12 h-100">
    <p-card class="border-round-lg" [style]="{height: 'calc(100vh - 40px - 35px - 7px)', overflowY: 'auto'}">

      <div class="grid justify-content-center" [style]="{height: 'calc(100vh - 40px - 35px - 7px - 60px)', overflowY: 'auto'}">
        <div class="col-12 md:col-6 row-gap-3">

          <form [(formGroup)]="formClienteCadastrado" class="grid m-0 p-0">
            <div class="col-12 md:col-6">
              <app-form label="Club Nissei" type="text-group"
                formControlName="cliente" ngDefaultControl [readonly]="cliente ? true : false"
                [mask]="mascaraTipo" textoAgrupamento="CPF/CNPJ" [autoClear]="false"/>
            </div>
            <div class="col-12 md:col-6 flex align-items-end">
              <div class="border-round-lg border-1 border-solid w-100 py-1 px-2 flex flex-row justify-content-around" style="border-color: #e2e8f0;">
                @if(loadingDadosScore) {
                  <div class="w-100 py-2">
                    <p-skeleton height="1.75rem" />
                  </div>
                } @else {
                  <div class="flex flex-column justify-content-center">
                    <p class="font-lg font-semibold text-center">
                      Cliente {{ scoreCliente?.label }}
                    </p>
                  </div>
                  <div class="flex justify-content-center align-items-center">
                    <p-badge [value]="scoreCliente?.value" size="large" [severity]="scoreCliente?.color"></p-badge>
                  </div>
                }
              </div>
            </div>
            <div class="col-12">
              <app-form label="Nome" type="text" [loading]="loadingDadosCliente"
                  formControlName="nome" ngDefaultControl [readonly]="true" />
            </div>
            <div class="col-12">
              <p-panel header="Dados do cliente" [toggleable]="true" [collapsed]="true" (collapsedChange)="consultarDadosOnlineCliente($event)">
                <div class="grid m-0 p-0">

                  <div class="col-12 md:col-6">
                    <app-form label="Celular" type="celular" [readonly]="true"
                      [loading]="loadingDadosExtraCliente && !_clienteCarregado"
                      formControlName="celular" ngDefaultControl />
                  </div>

                  <div class="col-12 md:col-6">
                    <app-form label="E-mail" type="text" [readonly]="true"
                      [loading]="loadingDadosExtraCliente && !_clienteCarregado"
                      formControlName="email" ngDefaultControl />
                  </div>

                  <div class="col-12 md:col-6">
                    <app-form label="Data de nascimento" type="date-manual" [readonly]="true"
                      [loading]="loadingDadosExtraCliente && !_clienteCarregado"
                      formControlName="data_nascimento" ngDefaultControl />
                  </div>

                  <div class="col-12 md:col-6">
                    <app-form label="Sexo" type="text" [readonly]="true"
                      [loading]="loadingDadosExtraCliente && !_clienteCarregado"
                      formControlName="sexo" ngDefaultControl />
                  </div>

                </div>
              </p-panel>
            </div>
          </form>

          <form [(formGroup)]="formEnderecoCadastrado" class="grid m-0 p-0">
            <div class="col-12">
              <p-panel header="Endereco principal" [toggleable]="true" [collapsed]="true" (collapsedChange)="consultarDadosOnlineEndereco($event)">
                <div class="grid m-0 p-0">

                  <div class="col-12 md:col-6">
                    <app-form label="CEP" type="cep"
                      (blur)="buscarEndereco()"
                      [loading]="loadingDadosEndereco && !_enderecoCarregado" [readonly]="!modoEdicaoEndereco"
                      formControlName="cep" ngDefaultControl />
                  </div>

                  <div class="col-12 md:col-6">
                    <app-form label="Endereço" type="text"
                      [loading]="loadingDadosEndereco && !_enderecoCarregado" [readonly]="!modoEdicaoEndereco"
                      formControlName="endereco" ngDefaultControl />
                  </div>

                  <div class="col-12 md:col-3">
                    <app-form label="UF" type="text" [readonly]="!enderecoManual || !modoEdicaoEndereco"
                      [loading]="loadingDadosEndereco && !_enderecoCarregado"
                      formControlName="uf" ngDefaultControl />
                  </div>

                  <div class="col-12 md:col-6">
                    <app-form label="Cidade" type="text" [readonly]="!enderecoManual || !modoEdicaoEndereco"
                      [loading]="loadingDadosEndereco && !_enderecoCarregado"
                      formControlName="cidade" ngDefaultControl />
                  </div>

                  <div class="col-12 md:col-3">
                    <app-form label="N°" type="int"
                      [loading]="loadingDadosEndereco && !_enderecoCarregado" [readonly]="!modoEdicaoEndereco"
                      formControlName="numero" ngDefaultControl />
                  </div>

                  <div class="col-12 md:col-6">
                    <app-form label="Bairro" type="text"
                      [loading]="loadingDadosEndereco && !_enderecoCarregado" [readonly]="!modoEdicaoEndereco"
                      formControlName="bairro" ngDefaultControl />
                  </div>

                  <div class="col-12 md:col-6">
                    <app-form label="Complemento" type="text"
                      [loading]="loadingDadosEndereco && !_enderecoCarregado" [readonly]="!modoEdicaoEndereco"
                      formControlName="complemento" ngDefaultControl />
                  </div>

                  <div class="col-12 md:col-6">
                    @if(loadingDadosEndereco && !_enderecoCarregado){
                      <p-skeleton height="2.25rem" />
                    } @else {
                      @if(!modoEdicaoEndereco){
                        <p-button label="Alterar endereço" severity="primary"
                          (click)="habilitarEdicaoEndero()" />
                      } @else {
                        <p-button label="Salvar endereço" severity="primary"
                        (click)="SalvarEndereco()" />
                      }
                    }
                  </div>

                </div>
              </p-panel>
            </div>
          </form>

          <div class="grid m-0 p-0">
            <div class="col-6">
              <p-panel header="Convênio(s)">
                <div class="grid m-0 p-0 isDisabled">
                  @if(loadingDadosConvenios){
                    <div class="col-12 md:col-6">
                      <p-skeleton height="2rem" />
                    </div>
                    <div class="col-12 md:col-6">
                      <p-skeleton height="2rem" />
                    </div>
                  } @else {
                    @if(convenios?.length){
                      <app-label grid="col-12 md:col-6" name="label-convenios"
                        cor="secondary" [items]="convenios" />
                    } @else {
                      <p class="font-sm font-normal text-center">Nenhum convênio disponível</p>
                    }
                  }
                </div>
              </p-panel>
            </div>
            <div class="col-6">
              <p-panel header="Parceria(s)">
                <div class="grid m-0 p-0 isDisabled">
                  @if(loadingDadosParcerias){
                    <div class="col-12 md:col-6">
                      <p-skeleton height="2rem" />
                    </div>
                    <div class="col-12 md:col-6">
                      <p-skeleton height="2rem" />
                    </div>
                  } @else {
                    @if(parcerias?.length){
                      <app-label grid="col-12 md:col-6" name="label-parcerias"
                        cor="secondary" [items]="parcerias" />
                    } @else {
                      <p class="font-sm font-normal text-center">Nenhuma parceria disponível</p>
                    }
                  }
                </div>
              </p-panel>
            </div>
          </div>

        </div>
        <div class="col-12 md:col-6 flex flex-column row-gap-3">
          <div class="col-12">
            <p-panel>
              <ng-template pTemplate="header">
                <div class="flex justify-content-between align-items-center w-100">
                  <p class="font-lg font-semibold">Vantagens Club</p>
                  <p-button label="Imprimir" severity="primary"
                    (click)="imprimirFilipeta()" />
                </div>
              </ng-template>
              @if(loadingDadosComponentes){
                <div class="grid m-0 p-0 row-gap-4">
                  @for(skeleton of [].constructor(6); track skeleton;){
                    <div class="col-4 md:col-4">
                      <p-skeleton height="5rem" />
                    </div>
                  }
                </div>
              } @else {
                <div class="grid m-0 p-0">
                  @if(_componenteClienteCarregado){
                    <div class="{{componenteCliente?.grid}} mt-0 py-0 -mb-3">
                      <label class="font-lg mb-2">{{ componenteCliente?.label }}</label>
                      @if (componenteCliente?.tipo === 'carrossel-produtos'){
                        <app-carrossel-produtos [produtos]="componenteCliente?.configuracao?.produtos"
                          [qtd_mobile]="componenteCliente?.configuracao?.qtd_mobile" [qtd_desktop]="componenteCliente?.configuracao?.qtd_desktop"
                          [border]="componenteCliente?.configuracao?.border"
                          [imgHeight]="40" [imgWidth]="40" [removerVlrIni]="true" [precoTamanho]="'xs'" />
                      }
                    </div>
                  }
                  @if(_componenteClubCarregado){
                    <div class="{{componenteClub?.grid}} my-0 py-0">
                      <label class="font-lg mb-2">{{ componenteClub?.label }}</label>
                      @if (componenteClub?.tipo === 'carrossel-produtos'){
                        <app-carrossel-produtos [produtos]="componenteClub?.configuracao?.produtos"
                          [qtd_mobile]="componenteClub?.configuracao?.qtd_mobile" [qtd_desktop]="componenteClub?.configuracao?.qtd_desktop"
                          [border]="componenteClub?.configuracao?.border"
                          [imgHeight]="40" [imgWidth]="40" [removerVlrIni]="true" [precoTamanho]="'xs'" />
                      }
                    </div>
                  }
                </div>
              }
            </p-panel>
          </div>
          <div class="col-12">
            <p-panel header="Histórico do cliente">

              @if(loadingDadosHistoricoPedidos){
                @for(skeleton of [].constructor(6); track skeleton;){
                  <div class="col-12">
                    <p-skeleton height="2.5rem" />
                  </div>
                }
              } @else {
                @if(!historicoPedidos?.length){
                  <div class="flex justify-content-center">
                    <div class="col-6">
                      <p-button label="Buscar pedidos" severity="primary"
                        (click)="buscarHistoricoPedidos()" />
                    </div>
                  </div>
                } @else {
                  <div class="grid m-0 p-0">
                    <div class="col-12">
                      <p-table [value]="historicoPedidos">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Pedido</th>
                                <th>Status</th>
                                <th>Valor</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-pedido>
                            <tr>
                                <td>{{ pedido?.id }}</td>
                                <td>{{ pedido?.ultimo_status__nm_descritivo }}</td>
                                <td>R$ {{ convertePrecoParaPadraoBR(pedido?.vlr_total) }}</td>
                            </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </div>
                }
              }

            </p-panel>
          </div>
        </div>
      </div>

      <div class="grid justify-content-center">
        <div class="col-12 flex justify-content-end column-gap-3 pb-0 mb-0">
          <div class="col-3 m-0 p-0">
            <p-button label="Avançar (Enter)"
              [appAtalhoEvento]="'Enter'" (evento)="proximoPasso()" (click)="proximoPasso()" />
          </div>
          <div class="col-3 m-0 p-0">
            <p-button severity="danger" label="Cancelar (Esc)"
              [appAtalhoEvento]="'Escape'" (evento)="cancelarCadastro()" (click)="cancelarCadastro()" />
          </div>
        </div>
      </div>

    </p-card>
  </div>
</div>
